.menu__button{
    display: none;
}

.header__nav .nav__link:last-child{
    display: none;
}

@media (max-width: 885px){
    .menu__button{
        display: block;
    }

    .header__nav .nav__link:last-child{
        display: block;
    }
}